body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 300px;
    /* Aseguramos que el contenedor tenga un margin automático */
    margin: auto;
}

.login-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
}

.input-group input {
    width: 100%;
    padding: 0.5rem 0.1rem 0.8rem 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-group .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1.2rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.footer {
    margin-top: auto;
    padding: 1rem 0;
    text-align: center;
    background-color: #f1f1f1;
    width: 100%;
}

.social-media a {
    margin: 0 0.5rem;
}

.social-media img {
    width: 30px;
    height: 30px;
}


@media (max-width: 600px) {
    .login-container {
        padding: 1rem;
    }

    .input-group input {
        padding: 0.5rem 0.1rem 0.8rem 1rem;
    }

    .social-media img {
        width: 25px;
        height: 25px;
    }

    button {
        font-size: 0.9rem;
    }
}